@mixin  grid-display($gap: null) {
    display: grid;
    grid-template-columns: 1fr;    
    @if $gap != null {
        gap: $gap;
    }
}

@mixin  grid-position($row, $column) {
    justify-content: $row;
    align-content: $column;
}

@mixin  min-width($threshold) {
    @media screen and (min-width: $threshold) {
        @content;
    }
}