
@mixin flex-display($direction, $gap:null) {
    display: flex;
    flex-direction: $direction;
    @if $gap !=null {
        gap: $gap;
    }
}
@mixin flex-position($row: null, $column: null) {
    @if $row !=null {
        align-items: $row;
    }
    @if $column !=null {
        justify-content: $column;
    }
}

@mixin  grid-display($gap: null) {
    display: grid;
    grid-template-columns: 1fr;    
    @if $gap != null {
        gap: $gap;
    }
}

@mixin  grid-position($row, $column) {
    justify-content: $row;
    align-content: $column;
}

@mixin  min-width($threshold) {
    @media screen and (min-width: $threshold) {
        @content;
    }
}